@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/*======================= MAIN =======================*/

.content {
    flex: 1;
    padding: 60px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

/*======================= TEXT =======================*/

.content h1{
  font-size: 3rem;
  font-weight: 500;
  color: #347928;
  text-align: center;
  line-height: 3.75rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.589);
}

/*======================= LOAD =======================*/

/* From Uiverse.io by G4b413l */
.three-body {
  position: relative;
  display: inline-block;
  height: 35px;
  width: 35px;
  animation: spin78236 calc(0.8s * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: #347928;
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 0.8s infinite ease-in-out;
  animation-delay: calc(0.8s * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 0.8s infinite calc(0.8s * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 0.8s infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

/*======================= MEDIA QUEARY =======================*/

@media screen and (max-width: 970px) {
  .content {
    flex: 1;
    padding: 20% 20px 50px;
  }
}
